@using YOURAPP.Models.Entity
@model User
@{
    ViewBag.Title = "ForgotPassWord";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<div class="container">
    <p class="text-white">Create new password for your account here</p>
    <hr style="color: #b0c43a; height: 5px; background-color: #B0C43A;">
    <div class="row mt-4">
        <div class="col-sm-6 col-12">
            <p style="color:red;">@ViewBag.Mesaj</p>
            @using (Html.BeginForm("ForgotPassWord", "Authentication", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="FormControlInputEmail" class="form-label text-white">EMAIL</label>
                    @Html.TextBoxFor(u => u.email, new
               {
                   @class = "form-control text-white",
                   @id = "FormControlInputEmail",
                   @placeholder = "exapmle@exapmle.com",
                   @name = "login-email",
                   @tabindex = "1",
                   @type = "email",
                   @style = "background-color: black;"
               })
                </div>
                <button type="submit" class="btn btn-sign-in btn-lg d-block w-50 mb-2"
                        style="margin: auto;" tabindex="4">
                    RESET
                </button>
            }
        </div>
    </div>
</div>

